<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="Sales-Offers">
    <h2>Sales-Offers</h2>
    <div class="Offers">
        <div class="Offer">
            whatsapp
            <img src="../flaticons/whatsapp.png" alt="">
        </div>
        <div class="Offer">
            Facebook
            <img src="../flaticons/facebook.png" alt="">
        </div>
        <div class="Offer">
            Google
            <img src="../flaticons/google.png" alt="">
        </div>
        <div class="Offer">
            Instagram
            <img src="../flaticons/instagram.png" alt="">
        </div>
    </div>
    </div>
</body>
</html> -->